<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Burgers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body class="bg-warning text-dark">
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center text-danger">
                <span class="glyphicon glyphicon-thumbs-up"></span>
            </h1>
            <h1 class="text-center text-danger">BURGERS!</h1>
            <hr>
            <div class="row">{{{body}}}</div>
            <div class="text-center">
                <form>
                    <textarea id="newBurger"></textarea>
                </form>
                <br>
                <button type="button" id="addBurger" class="btn btn-lg btn-danger"> Add Burger!!!</button>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p>
                    <a class="text-dark" href="https://github.com/sousaman/burger">GitHub Repo</a>
                </p>
            </div>
        </footer>
    </div>

    <script type="text/javascript">
        $("#addBurger").on("click", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            var burger = {
                burger_name: $("#newBurger").val().trim()
            };

            // Send the POST request.
            $.ajax("/newBurger", {
                type: "POST",
                data: burger
            }).then(
                function () {
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });
    </script>
</body>

</html>